<div class="container">
  <h2>Checkboxes</h2>
  <h4 id="chkboxHeading">List of fruits you like</h4>
  <form>
    <div role="group" aria-labelledby="chkboxHeading">  
        <div class="checkbox">
            <label for="chxboxApple"><input type="checkbox" id="chxboxApple" value="">Apple</label>
        </div>
        <div class="checkbox">
            <label for="chxboxMango"><input type="checkbox" id="chxboxMango" value="">Mango</label>
        </div>
        <div class="checkbox">
            <label for="chxboxOrange"><input type="checkbox" id="chxboxOrange" value="">Orange</label>
        </div>
    </div>
  </form>
</div>
